
<div class="navbar navbar-default navbar-static-top" ng-controller="NavbarCtrl">
  <div class="container" style="margin-left : 0px; margin-right : 0px">
   
    <div class="nav navbar-nav navbar-inner">
            <div class="container-fluid">
                <a class="brand" href="/Home">NSS-IITM</a>
                    <ul class="nav navbar-nav ">
                        <li id="ahome" class="active"><a href="/Home">Home</a></li>
                        <li id="aprojects"><a href="/projects">Projects</a></li>
                        <li id="aevents"><a href="/events">Events</a></li>
                        <li id="aarchives"><a href="/Archives">Archives</a></li>
                        <li id="ajoinus"><a href="/JoinUs">Join Us</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    </ul>
                                   
            </div><!--/.nav-collapse -->
        </div>
  </div>
</div>
