
<div class="navbar navbar-default navbar-static-top" ng-controller="NavbarCtrl">
  <div class="container" style="margin-left : 0px; margin-right : 0px">
   
    <div class="nav navbar-nav navbar-inner">
            <div class="container-fluid">
                <a class="brand" href="/">NSS-IITM</a>
                <ul class="nav navbar-nav">
                    <li id="ahome" class="active"><a href="/">Home</a></li>
                    <li><a href="preferences">Preferences</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="signup" target="_blank"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a href="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
            </div>
        </div>
  </div>
</div>
