<h1>
  Change Password
</h1>
<form class="form" name="form" ng-submit="reset()" novalidate>
  <input type="password" name="newPassword" ng-model="newPassword"
                     ng-minlength="3"
                     required/>
  <span style="color:red"
                 ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || submitted)">
              Password must be at least 3 characters
  </span>
  <span style="color:red" ng-show="form.password.$error.mongoose">
    {{ errors.other }}
  </span>
  <input type="password" name="confirmNewPassword" ng-model="confirmNewPassword"
                     required/>
  <span style="color:red"
                 ng-show="(newPassword !== confirmNewPassword) && submitted">
                Passwords do not match
  </span>
  <span style="color:red"> {{ message }} </span>
  <button class="md-raised md-primary" ng-disabled="(newPassword !== confirmNewPassword) || (newPassword === '') || (confirmNewPassword === '')" type="submit">Save changes</button>
</form>